<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title> Ionosphere</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-toolbar>
      <img src="../../../assets/icon/Splash.png" alt="Splash Image" />
    </ion-toolbar>
  </div>
  <div class="intro-container ion-padding">
    <p>Welcome to Ionosphere - a demonstration of the power of Ionic framework combined with AngularJS. Ionosphere showcases the capabilities of modern web technologies in creating robust and user-friendly mobile applications.</p>
    <p>As a demo app, Ionosphere provides a glimpse into the world of Ionic development, offering a hands-on experience of building mobile apps with ease.</p>
    <p>Ionosphere features basic intros of each developer on separate pages, providing insights into the talented minds behind its creation. Get to know the individuals who brought this app to life and learn about their unique skills and contributions.</p>
    <p>Additionally, Ionosphere includes a Contact Us page where you can reach out to us with any inquiries, feedback, or collaboration opportunities. We value your input and look forward to hearing from you.</p>
    <p> Welcome aboard!</p>
  </div>
</ion-content>
