.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
  }
  
  .intro-container {
    max-width: 600px;
    margin: auto;
  }
  
  .intro-container p {
    margin-bottom: 20px;
  }
  
