<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>harshil's Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <h2>Welcome to Harshil's Page</h2>

        <ion-col size="12" size-md="6" class="ion-text-center ion-padding">
          <!-- Your image goes here -->
          <img src="../../../assets/icon/Harshil.jpg" alt="Your Image" class="intro-image">
        </ion-col>
        <ion-col size="12" size-md="6" class="ion-padding">
          <!-- Your introduction text goes here -->
          <p>
            Hi there, My name is Harshil Thakkar and am currently pursuing Computer Programming from Georgian College. Currently I am in my last Semester and I am learning languages like PHP Python JAVA CSS JS. I am looking forward to work with a company which can provide me work experience as a beginner from the Summer 2024. I am having knowledge in languages like C, C++, JAVA, Python, HTML, CSS, SQL, JAVASCRIPT, XML, Tinkercad.          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
