<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rushi's Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <h2>Welcome to My Page</h2>

        <ion-col size="12" size-md="6" class="ion-text-center ion-padding">
          <!-- Your image goes here -->
          <img src="../../../assets/icon/rushi.jpg" alt="Your Image" class="intro-image">
        </ion-col>
        <ion-col size="12" size-md="6" class="ion-padding">
          <!-- Your introduction text goes here -->
          <p>
            My name is Rushi Patel.I am from Gujarat, India.Currently i am residing in Canada.My hobbies are politics, cricket, play game,singing          </p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
